* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(196, 196, 196, 0.74) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(211, 211, 211);
}
